@use "../../App";

.CalendarTimeline {
    .mbsc-calendar-header {
        background: App.$light-gray !important;
    }

    .CalendarFilter{
        display: flex;
        align-items: center;
    
        label{ 
            &.md-mobile-picker-box-label{
                margin: 1rem 0 !important;
            }
        }
    
        input {
            border: 1px solid App.$dark-gray !important;
            border-radius: 3px !important;
        }
    
        .FormGroup{
            .CheckBox{
                display: flex;
    
                .CheckItem{
                    margin-left: 1rem;
                }
            }
        }
    }
}

