@import "../../App.scss";

.InputContainer {
    position: relative;

    input {
        padding: 1rem;
        padding-right: 2rem;
        background: $lighter-blue;
        outline: none;
        border: none;
        color: $white;
    }

    ::placeholder {
        color: $white;
        opacity: 1; /* Firefox */
    }

    .Icon{
        position: absolute;
        right: 1rem;
        top: 0;
        bottom: 0;
        height: 100%;
        font-size: $h4;
    }
}