@use "../../App";

.Header{
    background: App.$primary-blue;
    color: App.$white;

    .SubHeader{
        display: flex;
        padding: 1rem 0;

        >div{
            display: flex;
            align-items: center;  
        }

        &.SubHeaderTop{
            justify-content: space-between;

            hr{
                height: 30px;
                border: 1px solid;
                margin: 0 1rem;
            }

            .User{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 2rem;

                .UserIcon{ 
                    width: 30px;
                    height: 30px;
                    margin-bottom: 2px;

                    &.UserImage{
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                
            }
        }

        &.SubHeaderBottom {
            padding-bottom: 0;
            justify-content: center;
        }

        a {
            color: App.$white;
            text-decoration: none;

            &.Active{
                border-bottom: 5px solid App.$secondary-blue;
                background: App.$lighter-blue;
            }
        }

        .NavItem{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;

            .NavIcon{
                height: 30px;
                width: auto;
                margin-bottom: 2px;
            }

            &:hover{
                background: App.$lighter-blue;
                cursor: pointer;
            }
        }

        
        
    }

    
}