@use "../../App";

.Reservations {
    margin: 2rem 0;

    .Filter{
        display: flex;
    }

    .MoreFilters{
        background: App.$white;
        max-height: 500px;
        transition: 0.3s ease;
        overflow: hidden;

        .FilterWrapper{
            display: flex;
            padding: 2rem;
        }

        .FormGroup{
            margin-right: 2rem;
            margin-bottom: 0;
            justify-content: flex-start;

            p{
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            input{
                font-size: App.$small;
            }

            .Btn {
                .BtnIcon {
                    transition: 0.3s ease;
                }
            }
        }
    }

    .UserList{
        background: App.$white;

    }
}