*{
    padding: 0;
    margin: 0;
  }
  
  /* ==========================================================================
     Variable Declarations
  ========================================================================== */
  // Palette
    $white: #fff;
    $black: #000;

    $primary-blue: #003580;
    $secondary-blue: #2B8CDF;
    $light-blue: #124389;
    $lighter-blue: #1F4E8F;

    $primary-red: #FF0202;

    $light-gray: #F2F2F2;
    $dark-gray: #6B6B6B;

    // Font
    $h2: 2rem;
    $h4: 1.25rem;
    $p: 1rem;
    $small: 0.875rem;

    // Responsive Breakpoints
    $XS: 375px;
    $S: 599px;
    $M: 899px;
    $L: 1299px;
    $XL: 1679px;
  
  
  /* ==========================================================================
     Base Styles
  ========================================================================== */
  h2{
    font-size: $h2;
    font-weight: bold;
  
    @media screen and (max-width: $M) {
      font-size: 1.5rem;
    }
  }
  
  h4{
    font-size: $h4;
    font-weight: normal;
    @media screen and (max-width: $M) {
      font-size: 1rem;
    }
  }
  
  p{
    font-size: $p;
    @media screen and (max-width: $M) {
      font-size: 0.875rem;
    }
  }

  small{
    font-size: $small;
    @media screen and (max-width: $M) {
      font-size: 0.75rem;
    }
  }

  a{
   color: $secondary-blue;
  }
  
  
  .Btn{
    display: flex;
    align-items: center;
    font-size: $p;
    color: $secondary-blue;
    padding: 0.5rem 1rem;
    border: 1px solid $secondary-blue;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;

    &.BtnBlue { 
      color: $white;
      background-color: $secondary-blue;
    }
  
    &:hover{
       transform: translateY(-3px);
    }

    svg {
      margin-left: 0.5rem;
    }
  }

  @mixin formStyling {
      padding: 0.5rem;
      background: $white; 
      font-size: $p;
      border: 1px solid $dark-gray;
      border-radius: 3px;
  }

  section{
   margin: 1rem 0;
  }

  .FormGroup{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-right: 5px;

      label {
         font-size: $p;
         margin-bottom: 2px;
      }

      select {
         @include formStyling;
      }

      input {
         @include formStyling;
      }

  }

  table {
      border-collapse: collapse;
      width: 100%;

      td, th {
         border-bottom: 1px solid $light-gray;
         text-align: left;
         padding: 1rem;
       }
   }
  
  /* ==========================================================================
     Custom Container
  ========================================================================== */
  .CustomContainer {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (max-width: $XL) {
       margin-left: 3.75rem;
       margin-right: 3.75rem;
    }
  
    @media screen and (max-width: $L) {
       margin-left: 3.75rem;
       margin-right: 3.75rem;
    }
  
    @media screen and (max-width: $M) {
       margin-left: 1.5rem;
       margin-right: 1.5rem;
    }
  
    @media screen and (max-width: $S) {
       margin-left: 1rem;
       margin-right: 1rem;
    }
  }
  
  .Row.CustomGutter {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  
    @media screen and (max-width: $L) {
       margin-left: 1.25rem;
       margin-right: 1.25rem;
    }
  
    @media screen and (max-width: $M) {
       margin-left: 0.75rem;
       margin-right: 0.75rem;
    }
  
    @media screen and (max-width: $S) {
       margin-left: 0.5rem;
       margin-right: 0.5rem;
    }
  }
  
  .Row.CustomGutter>div {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  
    @media screen and (max-width: $L) {
       padding-left: 1.25rem;
       padding-right: 1.25rem;
    }
  
    @media screen and (max-width: $M) {
       padding-left: 0.75rem;
       padding-right: 0.75rem;
    }
  
    @media screen and (max-width: $S) {
       padding-left: 0.5rem;
       padding-right: 0.5rem;
    }
  }

    /* ==========================================================================
     Custom Container
  ========================================================================== */
  